---
import Layout from '@layouts/Layout.astro'
import Card from '@components/Card.astro'

const res = await fetch('https://owen-wilson-wow-api.onrender.com/wows/random')

if (!res.ok) {
  console.error('unwow')
}
const [wow] = await res.json()
console.log(wow)
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Digital Garden</h1>
    <img src={wow.poster} alt={`Owen Wilson as ${wow.character} in ${wow.movie}`} />
    <pre>
      {JSON.stringify(wow, null, 2)}
    </pre>
    <section>
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }

  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  section {
    padding: 10px 0;
  }

  img {
    width: 250px;
  }
</style>
